---
import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "Plan";
---

<BaseLayout title={title}>
  <section>
    <h1>Create a plan</h1>
    <p>
      Build a subscription plan that best fits your needs. We offer an
      assortment of the best artisan coffees from around the globe delivered
      fresh to your door.
    </p>
  </section>

  <section>
    <div>
      <p>01</p>
      <h2>Pick your coffee</h2>
    </div>
    <p>
      Select from our evolving range of artisan coffees. Our beans are ethically
      sourced and we pay fair prices for them. There's new coffees in all
      profiles every month for you to try out.
    </p>

    <div>
      <p>02</p>
      <h2>Choose the frequency</h2>
    </div>

    <p>
      Customize your order frequency, quantity, even your roast style and grind
      type. Pause, skip or cancel your subscription with no commitment through
      our online portal.
    </p>

    <div>
      <p>03</p>
      <h2>Receive and enjoy!</h2>
    </div>

    <p>
      We ship your package within 48 hours, freshly roasted. Sit back and enjoy
      award-winning world-class coffees curated to provide a distinct tasting
      experience.
    </p>
  </section>

  <section>
    <nav>
      <ol>
        <li>01 Preferences</li>
        <li>02 Bean type</li>
        <li>03 Quantity</li>
        <li>04 Grind option</li>
        <li>05 Deliveries</li>
      </ol>
    </nav>
    <div>
      <h2>How do you drink your coffee?</h2>
      <div>
        <h3>Capsule</h3>
        <p>Compatible with Nespresso systems and similar brewers</p>
      </div>

      <div>
        <h3>Filter</h3>
        <p>For pour over or drip methods like Aeropress, Chemex, and V60</p>
      </div>

      <div>
        <h3>Espresso</h3>
        <p>
          Dense and finely ground beans for an intense, flavorful experience
        </p>
      </div>
    </div>
  </section>

  <section>
    <div>
      <h2>What type of coffee?</h2>
      <ul>
        <li>
          <h3>Single origin</h3>
          <p>Distinct, high quality coffee from a specific family-owned farm</p>
        </li>

        <li>
          <h3>Decaf</h3>
          <p>Just like regular coffee, except the caffeine has been removed</p>
        </li>

        <li>
          <h3>Blended</h3>
          <p>
            Combination of two or three dark roasted beans of organic coffees
          </p>
        </li>
      </ul>
    </div>

    <div>
      <h2>How much would you like?</h2>
      <ul>
        <li>
          <h3>250g</h3>
          <p>Perfect for the solo drinker. Yields about 12 delicious cups.</p>
        </li>

        <li>
          <h3>500g</h3>
          <p>Perfect option for a couple. Yields about 40 delectable cups.</p>
        </li>

        <li>
          <h3>1000g</h3>
          <p>
            Perfect for offices and events. Yields about 90 delightful cups.
          </p>
        </li>
      </ul>
    </div>

    <div>
      <h2>Want us to grind them?</h2>
      <ul>
        <li>
          <h3>Wholebean</h3>
          <p>Best choice if you cherish the full sensory experience</p>
        </li>

        <li>
          <h3>Filter</h3>
          <p>For drip or pour-over coffee methods such as V60 or Aeropress</p>
        </li>

        <li>
          <h3>Cafetiére</h3>
          <p>Course ground beans specially suited for french press coffee</p>
        </li>
      </ul>
    </div>

    <div>
      <h2>How often should we deliver?</h2>
      <ul>
        <li>
          <h3>Every week</h3>
          <p>$14.00 per shipment. Includes free first-class shipping.</p>
        </li>

        <li>
          <h3>Every 2 weeks</h3>
          <p>$17.25 per shipment. Includes free priority shipping.</p>
        </li>

        <li>
          <h3>Every month</h3>
          <p>$22.50 per shipment. Includes free priority shipping.</p>
        </li>
      </ul>
    </div>

    <div class="order-summary">
      <h2>Order Summary</h2>
      <p>
        “I drink coffee _____, with a _____ type of bean. _____ ground ala
        _____, sent to me _____.”
      </p>
    </div>

    <button>Create my plan!</button>
  </section>

  <div class="modal">
    <div class="order-summary">
      <h2>Order Summary</h2>
      <p>
        “I drink coffee _____, with a _____ type of bean. _____ ground ala
        _____, sent to me _____.”
      </p>
    </div>

    <p>
      Is this correct? You can proceed to checkout or go back to plan selection
      if something is off. Subscription discount codes can also be redeemed at
      the checkout.
    </p>

    <p>$_____/month</p>

    <button>Checkout</button>
  </div>

  <footer>
    <nav>
      <ol>
        <li>Home</li>
        <li>About us</li>
        <li>Create your plan</li>
      </ol>
    </nav>
  </footer>
</BaseLayout>
