---
import BaseLayout from '@layouts/BaseLayout.astro';
import HeroImageDesktop from '@assets/home/desktop/image-hero-coffeepress.jpg';
import HeroImageTablet from '@assets/home/tablet/image-hero-coffeepress.jpg';
import HeroImageMobile from '@assets/home/mobile/image-hero-coffeepress.jpg';
import { Image } from 'astro:assets';
import ButtonLink from '@components/ButtonLink.svelte';
import SectionOurCollection from '@components/pages/home/SectionOurCollection.astro';
import SectionWhyChooseUs from '@components/pages/home/SectionWhyChooseUs.astro';
import SectionHowItWorks from '@components/pages/home/SectionHowItWorks.astro';
---

<style lang='scss'>
  @use '@styles/variables' as *;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Fraunces', serif;
  }

  section.hero {
    display: grid;
    grid-template-areas: 'overlap';
    align-items: center;
    justify-items: center;

    overflow: hidden;
  }

  section.hero > .hero-content {
    grid-area: overlap;
    justify-self: start;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    height: 100%;
    width: 100%;

    margin-left: 5rem;
  }

  section.hero > .hero-picture {
    grid-area: overlap;
    width: 100%;
    height: auto;

    z-index: -1;

    border-radius: 10pt;
  }

  .hero-title {
    font-size: 5rem;
    font-weight: 900;
    color: white;

    max-width: 10ch;

    margin: 0;

    line-height: 1.5ch;
  }

  .hero-paragraph {
    color: $clr-light-cream;
    font-weight: 300;
    line-height: 3ch;

    max-width: 45ch;

    margin-top: 2rem;
    margin-bottom: 3rem;
  }
</style>

<BaseLayout>
  <section class='max-width hero'>
    <Image src={HeroImageDesktop} alt='' class='hero-picture' />
    <div class='hero-content'>
      <h1 class='hero-title'>Great coffee made simple.</h1>
      <p class='hero-paragraph'>
        Start your mornings with the world&rsquo;s best coffees. Try our
        expertly curated artisan coffees from our best roasters delivered
        directly to your door, at your schedule.
      </p>
      <ButtonLink client:load link='/plan'> Create your plan </ButtonLink>
    </div>
  </section>
  <SectionOurCollection />
  <SectionWhyChooseUs />
  <SectionHowItWorks />
</BaseLayout>

<script>
  function myFunction() {
    window.alert('hey lol');
  }
</script>
