---
import OurCollectionHeader from './OurCollectionHeader.astro';
---

<section class='max-width'>
  <OurCollectionHeader />
  <ol>
    <li>
      <h3>Gran Espresso</h3>
      <p>
        Light and flavorful blend with cocoa and black pepper for an intense
        experience
      </p>
    </li>

    <li>
      <h3>Planalto</h3>
      <p>
        Brazilian dark roast with rich and velvety body, and hints of fruits and
        nuts
      </p>
    </li>

    <li>
      <h3>Piccollo</h3>
      <p>
        Mild and smooth blend featuring notes of toasted almond and dried cherry
      </p>
    </li>

    <li>
      <h3>Danche</h3>
      <p>
        Ethiopian hand-harvested blend densely packed with vibrant fruit notes
      </p>
    </li>
  </ol>
</section>
