<style lang='scss'>
  @use '/src/styles/variables' as *;

  .text-gradient {
    background: -webkit-linear-gradient($clr-grey 10%, transparent 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2.section-header {
    position: absolute;
    top: -6rem;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;

    margin: auto;

    text-align: center;
    font-family: 'Fraunces', serif;
    text-transform: lowercase;
    font-weight: 700;
    font-variation-settings:
      'SOFT' 80,
      'opsz' 14;

    font-size: 4rem;

    opacity: 0.8;

    z-index: -1;
  }

  @media screen and (min-width: 375px) {
    .text-gradient {
      background: -webkit-linear-gradient($clr-grey 40%, transparent 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  @media screen and (min-width: 860px) {
    h2.section-header {
      font-size: 6rem;
    }
  }

  @media screen and (min-width: 1220px) {
    h2.section-header {
      font-size: 10rem;
    }
  }
</style>

<h2 class='section-header text-gradient'>Our collection</h2>
