---
import SectionOurCollectionHeader from './SectionOurCollectionHeader.astro';
import { Picture } from 'astro:assets';

import itemImgDanche from '@assets/home/desktop/image-danche.png';
import itemImgGranEspresso from '@assets/home/desktop/image-gran-espresso.png';
import itemImgPiccollo from '@assets/home/desktop/image-piccollo.png';
import itemImgPlantalto from '@assets/home/desktop/image-planalto.png';

const collectionItems = {
  gran_espresso: {
    title: 'Gran Espresso',
    image: itemImgGranEspresso,
    description:
      'Light and flavorful blend with cocoa and black pepper for an intense experience.',
  },
  planalto: {
    title: 'Planalto',
    image: itemImgPlantalto,
    description:
      'Brazilian dark roast with rich and velvety body, and hints of fruits and nuts.',
  },
  piccollo: {
    title: 'Piccollo',
    image: itemImgPiccollo,
    description:
      'Mild and smooth blend featuring notes of toasted almond and dried cherry.',
  },
  danche: {
    title: 'Danche',
    image: itemImgDanche,
    description:
      'Ethiopian hand-harvested blend densely packed with vibrant fruit notes.',
  },
};
---

<style>
  section.collection-section {
    position: relative;

    margin-top: 14rem;
  }

  ol.collection-list {
    display: flex;
    justify-content: center;
    gap: 2rem;

    list-style-type: none;
    padding: 0;
  }

  li.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .item-picture {
    width: 100%;
    max-width: 14rem;
    height: auto;
  }

  h3.item-title {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 1.4rem;

    margin-top: 2rem;
    margin-bottom: 0;
  }

  p.item-paragraph {
    text-align: center;
    max-width: 28ch;

    line-height: 3ch;
  }

  @media screen and (min-width: 375px) {
    ol.collection-list {
      position: relative;

      flex-direction: column;
      gap: 3rem;
    }

    p.item-paragraph {
      max-width: 34ch;
    }
  }

  @media screen and (min-width: 768px) {
    ol.collection-list {
      position: relative;

      flex-direction: column;
      gap: 3rem;

      top: -2.5rem;
    }

    li.item {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      align-items: center;
      gap: 1rem;
    }

    .item-picture-wrapper {
      grid-column-start: 1;
      grid-row: 1 / 3;
    }

    h3.item-title {
      grid-column-start: 2;
      margin: 0;
    }

    p.item-paragraph {
      grid-column-start: 2;

      text-align: left;
      margin-top: -1rem;
      margin-bottom: auto;

      max-width: 34ch;
      height: 100%;
    }
  }

  @media screen and (min-width: 1200px) {
    ol.collection-list {
      flex-direction: row;
    }

    li.item {
      display: flex;
    }
  }
</style>

<section class='max-width collection-section'>
  <SectionOurCollectionHeader />
  <ol class='collection-list'>
    {
      Object.values(collectionItems).map((item) => (
        <li class='item'>
          <div class='item-picture-wrapper'>
            <Picture src={item.image} alt={item.title} class='item-picture' />
          </div>
          <h3 class='item-title'>{item.title}</h3>
          <p class='item-paragraph'>{item.description}</p>
        </li>
      ))
    }
  </ol>
</section>
