---
import { ClientRouter } from 'astro:transitions';
import { slide } from 'astro:transitions';
import '@styles/index.scss';
import Appbar from '@components/Appbar.svelte';
import Navigation from '@components/Navigation.svelte';
import Logo from '@assets/shared/desktop/logo.svg';

const { title } = Astro.props;
---

<style lang='scss'>
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
  }
</style>

<html lang='en' transition:name='root' transition:animate='none'>
  <head lang='en'>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='./favicon-32x32.png'
    />
    <meta name='generator' content={Astro.generator} />

    <title>
      Frontend Mentor | Coffeeroasters{title ? ` - ${title}` : ''}
    </title>
  </head>
  <body>
    <Appbar client:load image={Logo.src} transition:persist />
    <main class='main-content' transition:animate={slide({ duration: '0.4s' })}>
      <slot />
    </main>
    <footer class='max-width'>
      <Navigation />
    </footer>
  </body>
</html>

<ClientRouter />
