---
import '@styles/index.scss';
import Appbar from '@components/Appbar.svelte';

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head lang='en'>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='./favicon-32x32.png'
    />
    <meta name='generator' content={Astro.generator} />

    <title>
      Frontend Mentor | Coffeeroasters{title ? ` - ${title}` : ''}
    </title>
  </head>
  <body>
    <header class='max-width'>
      <Appbar client:load />
    </header>
    <slot />
    <footer class='max-width'>
      <nav>
        <ol>
          <li>Home</li>
          <li>About us</li>
          <li>Create your plan</li>
        </ol>
      </nav>
    </footer>
  </body>
</html>
