---
const title = Astro.props;
---

<head lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png" />
  <meta name="generator" content={Astro.generator} />

  <title>Frontend Mentor | Coffeeroasters subscription site - {title}</title>
</head>

<body>
  <header>
    <nav>
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="plan">Create your plan</a></li>
      </ol>
    </nav>
  </header>
  <slot />
  <footer>
    <nav>
      <ol>
        <li>Home</li>
        <li>About us</li>
        <li>Create your plan</li>
      </ol>
    </nav>
  </footer>
</body>
